.actionContainer{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.suggestContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.endTurnContainer{
  display: flex;
  flex-direction: column;
  gap: 25px;
}