

.GameBoardContainer{
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
}
.boardAndClip{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.clipBoard{
  height: 100%;
}
.containerLower{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

