.clipboardMain{
    padding: 25px;
    height: 100%;
}
div.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
div.col0{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}
div.col1-6{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
label.col0 {
    display: inline-block;
    text-align: left;
    width: 125px;
}
label.col1-6 {
    width: 75px;
    text-align: center;
}
input.col1-6 {
    width: 75px;
    text-align: center;
}
h2.Title {
    border: 3px solid black;
    text-align: center;
}
h3.cardType {
    border: 3px solid black;
    text-align: center;
}

.cardType {
    margin-bottom: .5rem;
}